
.container {
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.iphone {
  display: inline-block;
  margin-top: 150px;
}

.shape {
  background-image: url("../images/material.jpg");
  height: 128px;
  width: 128px;
}